<div class="pb-16 text-center ">
   <div class="bg-gray-50"> <h1>Hello World !</h1></div>

    <div class="text-xs font-bold uppercase text-gray-600 space-x-3">
        <a class="hover:bg-gray-300 p-2 rounded" href="{{ cp_url }}">Control Panel</a>
        <a class="hover:bg-gray-300 p-2 rounded" href="https://statamic.dev" target="_blank" rel="noopener noreferrer">Documentation</a>
        <a class="hover:bg-gray-300 p-2 rounded" href="https://statamic.com/support" rel="noopener noreferrer">Get Support</a>
    </div>
</div>
