<!doctype html>
<html lang="{{site:short_locale}}">
<head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="{{mix src='/js/site.js'}}"></script> 
</head>
<body >
    <div >
        {{ template_content }}
    </div>
</body>
</html>
