<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<header class="bg-yellow-400 w-auto">
	<h1 class="text-center">Rettungsdienst Kreis Plön</h1>
</header>
<nav>
	<ul class="flex">
		<li class="flex-auto"><a href="#">Rettungswachen</a></li>
		<li class="flex-auto"><a href="#">Kontakt</a></li>
		<li class="flex-auto"><a href="#">Ausbildung</a></li>
		<li class="flex-auto"><a href="#">Stellenangebote</a></li>
	</ul>
</nav>
<main class="text-center">
	<picture>
		<img src="resources/img/Rettungswache.jpeg">
	</picture>
	{{content}}
</main>

<footer class="bg-yellow-400">
	<ul>
		<li><a href="#">Impressum</a></li>
	</ul>
</footer>

</body>
</html>
